
// 主题色

$theme-primary: #FFC319;
$theme-secondary: #6196FE;
$theme-third: #FB8E7E;

$theme-text-color: #333333;
$theme-text-color-2: #666666;
$theme-text-color-3: #999999;
$theme-text-color-4: #CCCCCC;
$theme-text-color-5: #524B38;
$theme-text-color-6: #464646;
$theme-text-color-7: #FF6969;

$theme-border-color: #F0F0F0;
$theme-border-color-2: #DDDDDD;
$theme-border-color-3: #F6F6F6;

$theme-background-color: #FAFAFA;
$theme-background-color-2: #6B3CE6;
$theme-background-color-3: #FFE394;

$theme-white: #FFFFFF;
$theme-black: #000000;


// 系统参数

$tab-bar-height: 122;